---
search: false
---
.body {
  scroll-behavior:smooth
};
.page__title {
  margin-top:0;
  line-height:1.5;
}

.masthead__menu-item {
  font-size: 15px;
}

.h2 {
  font-size:18px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
