---
search: false
---
.body {
  scroll-behavior:smooth;
}

.masthead__inner-wrap {
  background-color: white;
}

.masthead {
  background-color: white;
}

.layout--home {
  background-color: white;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.layout--tags {
  background-color: white;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.list__item {
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
}

.archive__item a {
  position: relative;
  z-index: 10;
  color: rgb(56, 56, 56);
  text-decoration: auto;
}

.archive__item a:visited {
  color: rgb(56, 56, 56);
  text-decoration: auto;
}

h2.archive__item-title.no_toc {
    margin-top: 10px;
}

.list__item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page__title {
  margin-top:0;
  line-height:1.5;
}

.masthead__menu-item {
  font-size: 15px;
}

.archive__item-title {
  font-size:17px;
  line-height: 1.3;
}

.page__title h1 {
  margin-top: 0;
  line-height: 1.5;
  font-size: 24px;
  letter-spacing: 0.2px;
}

.page__content h2 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f3f3;
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 0.2px;
}
.page__content h3 {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0.2px;
}

.toc__menu ul {
  font-size: 14px;
}

ul {
  font-size: 16px;
  letter-spacing: 0.2px;
}

.page__content p {
  margin: 0 0 1.3em;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.2px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
