---
search: false
---
.body {
  scroll-behavior:smooth;
}

.masthead__inner-wrap {
  background-color: white;
}

.masthead {
  background-color: white;
}

.layout--home {
  background-color: white;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.layout--tags {
  background-color: white;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.list__item {
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
}

.archive__item a {
  position: relative;
  z-index: 10;
  color: rgb(56, 56, 56);
  text-decoration: auto;
}

.archive__item a:visited {
  color: rgb(56, 56, 56);
  text-decoration: auto;
}

.list__item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page__title {
  margin-top:0;
  line-height:1.5;
}

.masthead__menu-item {
  font-size: 15px;
}

.archive__item {
  font-size:18px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
